* {
    font-family: consolas;
    border: blue solid 0px;
}

body {
    margin: 0 10%;
    background-color: rgb(255, 250, 244);
}

section {
    padding: 10px;
    margin: 10px auto;
}

.container {
    background-color: rgba(175, 145, 121, 0.3);
    padding: 10px;
}

.colour-panel {
    display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 2px 0;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

#colour-brown {
    background-color: #bfaf85;
}

#colour-cream {
    background-color: #f8e4ca;
}

#colour-herbalgreen {
    background-color: #88a388;
}

#colour-beige {
    background-color: #d6c5ba;
}

.font-panel {
    display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 2px 0;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

#font-sample {
    background-color: #bfaf85;
}

#font-sample {
    background-color: #f8e4ca;
}

#font-samplelgreen {
    background-color: #88a388;
}

#font-sample {
    background-color: #d6c5ba;
}